%h1 Listing posts

%table.plist
  - @posts.each do |post|
    %tr{class: cycle('list_line_odd', 'list_line_even')}
      %td= link_to post.title, post, html_options = { class: "font14" } 
/   %tr
/     %th Title
/     %th Description
/     %th
/     %th
/     %th

/   - @posts.each do |post|
/     %tr
/       %td= post.title
/       %td= post.description.html_safe
/       %td= link_to 'Show', post
/       %td= link_to 'Edit', edit_post_path(post)
/       %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

/ = link_to 'New Post', new_post_path
